name: GitHub Pages

on:
  push:
    branches:
      - main
    pull_request:

jobs:
  doc:
    name: build and deploy doc
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Build
        run: nix build .#doc
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result
          commit_message: "ci: ${{ github.event.head_commit.message }}"
